/***********************************************************************************
Nav
************************************************************************************/

#main-nav {
  .navbar-text {
    a {
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    .fa {
      color: #999;
      &:hover { 
        color: #333; 
      }
    }
  }
}

@media (max-width:768px) {
  #main-nav {
    .navbar-header {
      float: left;

      .navbar-brand {
        padding-left: 0px;
      }
    }
  }
}


/***********************************************************************************
Angular Google Maps
************************************************************************************/

.angular-google-map-container { height: 1000px; }


/***********************************************************************************
Angular UI Bootstrap Overrides
************************************************************************************/

.carousel-control {
  background-image: none !important;

  .fa {
    position: absolute;
    top: 50%;
  }
}