/***********************************************************************************
Nav
************************************************************************************/

#main-nav {
  .navbar-right {
    a {
      &:hover {
        text-decoration: none;
      }
    }
    .fa {
      color: #999;
      &:hover { 
        color: #333; 
      }
    }
  }
}