$navbar-height: 70px;


/***********************************************************************************
Html
************************************************************************************/

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}


/***********************************************************************************
Custom
************************************************************************************/

.overlay-panel {
  display: inline-block;
  padding: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.35);
}


/***********************************************************************************
Nav
************************************************************************************/

#main-nav {
  height: $navbar-height;
  padding: 5px 0;

  .dropdown {
    margin-top: 20px;

    .dropdown-menu {
      margin: 0;
    }
  }

  .navbar-brand {
    margin: 15px 15px 0 0;
    width: 200px;
    height: 33px;
    background: url('/assets/images/logo.gif');

    &:hover {
      background-position: 0 33px;
    }
  }

  .navbar-text {
    a {
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    .fa {
      color: #999;
      &:hover { 
        color: #333; 
      }
    }
  }
}

@media (max-width:768px) {
  #main-nav {
    .navbar-header {
      float: left;

      .navbar-brand {
        padding-left: 0;
      }
    }
  }
}


/***********************************************************************************
Jumbotrons
************************************************************************************/

#page-index {
  .jumbotron {
    background: #FFFFFF no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    color: #fff;

    p {
      margin: 20px 0;
    }
  }

  #jumbotron-bwca {
    background-image: url('/assets/images/bwca-jumbotron.jpg');
  } 
}

/***********************************************************************************
Angular Google Maps
************************************************************************************/

#map_canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
}

.angular-google-map-container {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  right: 0;
  left: 0;
}


/***********************************************************************************
Bootstrap Overrides
************************************************************************************/

.carousel-control {
  background-image: none !important;

  .fa {
    position: absolute;
    top: 50%;
  }
}

.modal-dialog {
  margin-top: 110px;
}
