<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{gallery.title}}</h4>
  </div>
  <div class="modal-body">

    <uib-carousel template-url="templates/bwca/carousel.html">
      <uib-slide ng-repeat="slide in slides" index="$index">
        <img ng-src="{{slide}}" class="img-responsive center-block">
      </uib-slide>
    </uib-carousel>

  </div>
  <div class="modal-footer">
    <p class="text-left">
      {{gallery.description}}
    </p>
  </div>
</div>