<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Wilson Family Canoe Trip</h4>
  </div>
  <div class="modal-body">
    <p>Each icon on the map is a photo gallery. Mouse over the icon to get a description. Click to open the photo gallery. Enjoy!</p>
    <img src="/assets/images/bwca-welcome.jpg" width="369" height="223" alt="" class="center-block" />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success center-block" data-dismiss="modal" data-ng-click="close()">Ok, I got it</button>
  </div>
</div>