<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Geo Photo Galleries</h4>
  </div>
  <div class="modal-body">
    <p>Click the icons to view photos from that location!  The photos were taken on a family trip to the <a href="http://www.fs.usda.gov/detail/superior/specialplaces/?cid=stelprdb5202169" target="_blank">Boundary Waters Canoe Area Wilderness</a> in Minnesota.</p>
    <img src="/assets/images/bwca-welcome.jpg" width="369" height="223" alt="" class="img-responsive center-block" />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success center-block" data-dismiss="modal" data-ng-click="close()">Ok, I got it</button>
  </div>
</div>