<!DOCTYPE html>
<html lang="en" data-ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>benjamingGwilson</title>
    
    <link href="assets/main.css?v=@@cacheHash" rel="stylesheet" type="text/css">
  </head>
  <body ng-controller="AppController">

    <div class="container">

      <div id="main-nav">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"></a>
        </div>

        <div class="navbar-text pull-left dropdown-hover-open" uib-dropdown>
          <a href uib-dropdown-toggle>
            <i class="fa fa-lg fa-bars"></i>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li class="dropdown-header">
              Projects
            </li>
            <li>
              <a href="/#!/bwca">Geo Photo Galleries</a>
            </li>
          </ul>
        </div>

        <div class="navbar-text pull-right">
          <a href="https://www.linkedin.com/in/bwilzen" target="_blank">
            <i class="fa fa-2x bw-fa-linkedin-square"></i>
          </a>

          <a href="https://github.com/bgwilson87/benjamingwilson.com" target="_blank">
            <i class="fa fa-2x bw-fa-github-square"></i>
          </a>
        </div>
      </div>
      
    </div>

    <div ng-view></div>

    <!--
       _____           _                      _____ _ _   _           _
      /  __ \         | |                    |  __ (_) | | |         | |
      | /  \/ ___   __| | ___    ___  _ __   | |  \/_| |_| |__  _   _| |__
      | |    / _ \ / _` |/ _ \  / _ \| '_ \  | | __| | __| '_ \| | | | '_ \
      | \__/\ (_) | (_| |  __/ | (_) | | | | | |_\ \ | |_| | | | |_| | |_) |
       \____/\___/ \__,_|\___|  \___/|_| |_|  \____/_|\__|_| |_|\__,_|_.__/
    
      https://github.com/bgwilson87/benjamingwilson.com
    -->

    <script src="assets/main.js?v=@@cacheHash"></script>
  </body>
</html>