<!DOCTYPE html>
<html lang="en" data-ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>benjamingGwilson</title>
    
    <link href="assets/main.css?v=@@cacheHash" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Benjamin G Wilson
        </a>
      </div>
    </div>

    <!--
       _____           _                      _____ _ _   _           _
      /  __ \         | |                    |  __ (_) | | |         | |
      | /  \/ ___   __| | ___    ___  _ __   | |  \/_| |_| |__  _   _| |__
      | |    / _ \ / _` |/ _ \  / _ \| '_ \  | | __| | __| '_ \| | | | '_ \
      | \__/\ (_) | (_| |  __/ | (_) | | | | | |_\ \ | |_| | | | |_| | |_) |
       \____/\___/ \__,_|\___|  \___/|_| |_|  \____/_|\__|_| |_|\__,_|_.__/
    
      https://github.com/bgwilson87/benjamingwilson.com
    -->

    <script src="assets/main.js?v=@@cacheHash"></script>
  </body>
</html>